In [7]:
# import functions

from data_loader import load_path
from data_access import term_df_with_scores
from data_access import get_corr
from data_access import doc_count
from data_access import get_unique_terms
from data_access import track_rank_changes

In [8]:
data_path = 'pre_processed_vodafone_data.csv'

df = load_path(data_path)

In [9]:
df.head()

,review_id,title,review,score,timestamp,review_sentiment,sentences,lemmatised_title,noun_phrases,lemmatised_sentences,bi_grams,tri_grams,words,nouns
0,1,vodafone almost ruined my life - stolen identi...,my email and password were part of a company d...,1,2021-01-31 01:03:34+00:00,-0.9390,[(vodafone almost ruined my life - stolen iden...,vodafone almost ruin life steal identity security,"[(company database leak, -0.34, 1), (vodafone ...",[(vodafone almost ruin life steal identity sec...,"[(ruin life, -0.5584, 1), (life steal, -0.5584...","[(vodafone almost ruin, -0.5584, 1), (ruin lif...","[(vodafone, -0.5584, 1), (almost, -0.5584, 1),...","[(vodafone, -0.5584, 1), (life, -0.5584, 1), (..."
1,2,misguided sale,"misguided salecouple of days ago, i was told t...",1,2021-01-29 08:59:16+00:00,0.8555,"[(misguided sale, 0.0, 1), (misguided salecoup...",misguide sale,"[(trade in value, 0.34, 1), (old phone, 0.34, ...","[(misguide, 0.0, 1), (misguided salecouple day...","[(misguide sale, 0.0, 1), (misguided salecoupl...","[(misguided salecouple day, 0.34, 1), (trade i...","[(misguide, 0.0, 1), (misguided, 0.34, 1), (sa...","[(misguide, 0.0, 1), (salecouple, 0.34, 1), (d..."
2,3,worst network,worst network for data in australia. i used vo...,1,2021-01-28 12:16:46+00:00,-0.6858,"[(worst network, -0.6249, 1), (worst network f...",bad network,"[(mobile phone, -0.7227, 1), (i need data, -0....","[(bad network, -0.6249, 1), (bad network data ...","[(bad network, -0.6249, 1), (bad network, -0.6...","[(network for data, -0.6249, 1), (i use vodafo...","[(bad, -0.6249, 1), (network, -0.6249, 1), (ba...","[(network, -0.6249, 1), (network, -0.6249, 1),..."
3,4,insurance contract with them is bullshit,they charged me for over a year a plan with in...,1,2021-01-27 06:21:26+00:00,0.3612,"[(insurance contract with them is bullshit, -0...",insurance contract with them bullshit,"[(insurance contract, -0.5859, 1), (free phone...","[(insurance contract bullshit, -0.5859, 1), (c...","[(insurance contract, -0.5859, 1), (year plan,...","[(plan with insurance, 0.3612, 1), (month free...","[(insurance, -0.5859, 1), (contract, -0.5859, ...","[(insurance, -0.5859, 1), (contract, -0.5859, ..."
4,5,record all your phonecalls with them when you ...,my parents and i have been with vodafone for a...,1,2021-01-27 04:18:19+00:00,0.4926,[(record all your phonecalls with them when yo...,record all your phonecalls with them when you ...,"[(decent coverage, 0.0, 1), (cheap price, 0.0,...","[(record phonecalls issue, 0.0, 1), (parent vo...","[(decent coverage, 0.0, 1), (cheap price, 0.0,...","[(thats strictly due, 0.0, 1), (company with d...","[(record, 0.0, 1), (phonecalls, 0.0, 1), (issu...","[(record, 0.0, 1), (issue, 0.0, 1), (parent, 0..."

In [10]:
term_df_with_scores(df, "words")

        term  sentiment promoter_score
0   vodafone    -0.5584              1
1     almost    -0.5584              1
2       ruin    -0.5584              1
3       life    -0.5584              1
4      steal    -0.5584              1
..       ...        ...            ...
29     phone     0.9337              5
30  reliable     0.9337              5
31   telstra     0.9337              5
32      adsl     0.9337              5
33      home     0.9337              5

[97467 rows x 3 columns]